* {
  padding: 0;
  margin: 0;
}
body {
  background: #ccc;
  overflow: hidden;
}
body #box {
  width: 1366px;
  height: 768px;
  /*background: url("../images/bg2.png") no-repeat;*/
  background: #000c3c;
  opacity: 0.7;
  box-sizing: border-box;
  overflow: hidden;
}
body #box h2 {
  text-align: center;
  height: 80px;
  color: white;
  line-height: 80px;
  border: 1px solid #ccc;
  width: 95%;
  margin: 0 auto;
  border-radius: 5px;
}
body #box #content {
  height: 688px;
  display: flex;
  justify-content: space-around;
}
body #box #content #left,
body #box #content #right {
  width: 45%;
  margin: 20px 0;
  border-radius: 5px;
}
body #box #content #left div,
body #box #content #right div {
  border-radius: 5px;
  border: 1px solid #ccc;
}
body #box #content #left #lt1,
body #box #content #left #lt2 {
  width: 100%;
  height: 47.5%;
}
body #box #content #left #lt2 {
  margin-top: 5%;
  border: none;
}
body #box #content #right #rt1,
body #box #content #right #rt2 {
  width: 100%;
  height: 47.5%;
}
body #box #content #right #rt2 {
  margin-top: 5%;
}
