body {
  margin: 0 auto;
  width: 1366px;
  height: 768px;
  color: #bee3f3;
  background: #000d3a;
}
body .title {
  width: 100%;
  height: 116px;
  background: url("../images/timg (1).png") no-repeat;
}
body .title p {
  position: absolute;
  left: 36%;
  top: -9px;
  font-size: 35px;
  font-weight: bold;
}
body .title .time {
  position: absolute;
  left: 45%;
  top: 83px;
}
body .top {
  width: 100%;
  height: 340px;
  background: url("../images/124.png") no-repeat;
  position: relative;
}
body .top .left {
  width: 341px;
  height: 300px;
  position: absolute;
  left: 34px;
  top: 20px;
}
body .top .left .renshu {
  height: 150px;
  border-bottom: 1px dashed white;
}
body .top .left .renshu .zaixiao {
  text-align: center;
  font-weight: bold;
  color: #d0eeff;
  font-size: 20px;
  width: 100px;
  background: #2b356a;
  position: absolute;
  left: 106px;
}
body .top .left .renshu .ren {
  text-align: center;
  font-weight: bold;
  color: #fe8f31;
  font-size: 35px;
  position: absolute;
  left: 93px;
  top: 30px;
}
body .top .left .zaixian {
  height: 150px;
  width: 100%;
  position: relative;
}
body .top .left .zaixian .zaixian1 {
  text-align: center;
  font-weight: bold;
  color: #d0eeff;
  font-size: 20px;
  width: 140px;
  background: #2b356a;
  position: absolute;
  left: 106px;
}
body .top .left .zaixian .ren2 {
  text-align: center;
  font-weight: bold;
  color: #fe8f31;
  font-size: 33px;
  position: absolute;
  left: 90px;
  top: 30px;
}
body .top .zhuti {
  position: absolute;
  left: 123px;
  top: -26px;
  font-weight: bold;
}
body .top .zhuti3 {
  position: absolute;
  right: 145px;
  top: -3px;
  font-weight: bold;
}
body .top .center {
  width: 40%;
  height: 91%;
  position: relative;
  top: 20px;
  left: 30%;
}
body .top .center .zhuti {
  position: absolute;
  left: 213px;
  top: -25px;
  font-weight: bold;
}
body .top .center .china {
  width: 614px;
  height: 340px;
  position: absolute;
  top: -23px;
  left: -45px;
}
body .top .right {
  width: 340px;
  height: 300px;
  position: absolute;
  right: 1%;
  top: 46px;
}
body .foot {
  width: 100%;
  height: 270px;
  background: url("../images/136.png") no-repeat;
  position: relative;
}
body .foot .zhuti {
  position: absolute;
  left: 47%;
  top: 3px;
  font-weight: bold;
}
body .foot .left {
  position: absolute;
  left: 160px;
  top: 40px;
}
body .foot .left_2 {
  position: absolute;
  left: 490px;
  top: 40px;
}
body .foot .left_3 {
  position: absolute;
  left: 820px;
  top: 40px;
}
body .foot .left_4 {
  position: absolute;
  right: 138px;
  top: 40px;
}
body .foot .changzhai {
  width: 326px;
  height: 200px;
  position: absolute;
  top: 52px;
  left: 34px;
}
body .foot .yunying {
  width: 326px;
  height: 200px;
  position: absolute;
  top: 52px;
  left: 360px;
}
body .foot .yingshou {
  width: 326px;
  height: 200px;
  position: absolute;
  top: 52px;
  left: 688px;
}
body .foot .yewu {
  width: 326px;
  height: 200px;
  position: absolute;
  top: 52px;
  right: 15px;
}
